{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}

    {% endblock %} - Desiguales mueblería</title>
    {% block Meta %}

    {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icono.png' %}"/>
    <link href=""{% static "DataTables/DataTables-1.13.4/css/dataTables.bootstrap5.min.css" %} rel="stylesheet"/>
    <!-- Bootstrap icons-->
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'OwlCarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'OwlCarousel/owl.theme.default.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&family=Reem+Kufi&display=swap"
          rel="stylesheet">
    <style>
        @font-face {
            font-family: 'Acumi';
            src: url('{% static "css/AcuminVariableConcept.otf" %}') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    {% block CSS %}

    {% endblock %}
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="color: gray;" href="{% url 'Muebles:inicio' %}">Precios económicos y la mejor calidad!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Muebles:inicio' %}">Inicio</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'Muebles:filtro' %}">Filtro de muebles</a></li>
            </ul>
{#            <form class="d-flex">#}
{#                <button class="btn btn-outline-dark me-2" type="submit" style="200px">#}
{#                    Iniciar sesión#}
{#                </button>#}
{#                <button class="btn btn-outline-dark" type="submit" style="200px">#}
{#                    Registrarse#}
{#                </button>#}
{#            </form>#}
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <img src="{% static 'assets/Baner.png' %}" class="img-fluid" alt="banner">
    </div>
</header>
{% block contenido %}

{% endblock %}
<!-- Footer-->
<footer style="font-family: 'Reem Kufi', sans-serif !important;">
    <img src="{% static 'assets/linea.png' %}" style="height: 50px; width: 100%">
    <div style="background: linear-gradient(to bottom, rgb(221,221,221), #686868); width: 100vw">
        <div class="row text-dark" >
            <div class="col-md-4 col-lg-4 col-sm-12 text-center mb-3">
                <h3>Contacto</h3>
                <p>Teléfonos:</p>
                <p>+5352398749</p>
                <p>+5376441659</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 text-center mb-3">
                <h3>Dirección</h3>
                <p>Calzada de Bejucal #2777 entre Hatuey y Narciso López, Arroyo Naranjo</p>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 text-center mb-3">
                <h3>Síguenos</h3>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <img src="{% static 'assets/iconos/facebook.svg' %}" style="width: 20px; height: 20px" alt="social">
                    <p style="margin-bottom: 0" class="ms-1">Facebook</p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/iconos/instagram.svg' %}" style="width: 20px; height: 20px" alt="social">
                    <p style="margin-bottom: 0" class="ms-1">Instagram</p>
                </div>
            </div>
        </div>
        <div>
            <p class="m-0 text-center text-dark">Copyright &copy; Desiguales mueblería <span
                id="anno"></span></p>
        </div>

    </div>
</footerc>
<!-- Bootstrap core JS-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'OwlCarousel/owl.carousel.js' %}"></script>
<script>
    document.getElementById('anno').innerHTML = new Date().getFullYear();
</script>
{% block JavaScript %}

{% endblock %}
</body>
</html>
