{% extends 'Base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block CSS %}

{% endblock %}
{% block contenido %}
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <form method="post" id="buscar">
                <div class="row mb-5">
                    <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
                        <div class="form-group w-100">
                            <label class="form-label" for="categoria">Categoría</label>
                            <select class="form-control w-100" id="categoria">
                                <option selected value="Todas">Todas</option>
                                {% for nombre in categorias %}
                                    <option value="{{ nombre.nombre }}">{{ nombre.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
                        <div class="form-group w-100">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control w-100" id="nombre">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
                        <div class="form-group w-100">
                            <label class="form-label" for="precio">Precio máximo</label>
                            <select class="form-control w-100" id="precio" style="width: 500px">
                                <option value="Máximo" selected>Máximo</option>
                                <option value="1000.00">1000.00</option>
                                <option value="800.00">800.00</option>
                                <option value="500.00">500.00</option>
                                <option value="300.00">300.00</option>
                                <option value="100.00">100.00</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center align-items-end">
                        <button class="btn btn-dark w-100" style="height: 38px">
                            <img src="{% static 'assets/botones/buscar.svg' %}" style="height: 20px; width: 20px;">
                            Buscar
                        </button>
                    </div>
                </div>
                <div class="row" id="muebles">
                    {% for item in muebles %}
                            <div class="col-lg-3 col-md-2 col-sm-12 mb-3">
                                <div class="card h-100 shadow-lg border-2">
                                    <img class="card-img-top" src="{{ item.imagen.url }}" alt="{{ item.nombre }}"/>
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ item.nombre }}</h5>
                                            <p>$ {{ item.precio }}</p>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'Muebles:mueble' item.id %}">
                                                <div class="boton-imagen1">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block JavaScript %}
    <script>
        window.onload = function () {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 24,
            loop: true,
            center: true,
            autoplay: true,
            smartSpeed: 300,
            slideSpeed: 100,
            responsive: {
                0: {
                    items: 2
                },

                550: {
                    items: 3
                },
                700: {
                    items: 4
                },
                1000: {
                    items: 6
                }
            }
        })
        $('#buscar').on('submit', function (e) {
            e.preventDefault();
            const nombre = $('#nombre');
            const categoria = $('#categoria');
            const precio = $('#precio');
            $.ajax({
                url:{% url "Muebles:filtro_view" %},
                type: 'POST',
                data: {
                    'nombre': nombre.val(),
                    'categoria': categoria.val(),
                    'precio': precio.val()
                },
                datatype: 'json',
                success: function (data) {
                    const propiedad = document.querySelector('#muebles')
                    propiedad.innerHTML = '';
                    data.forEach(item => {
                        const divprop = document.createElement('div')
                        divprop.classList.add('col-lg-3')
                        divprop.classList.add('col-md-2')
                        divprop.classList.add('col-sm-12')
                        divprop.classList.add('mb-3')
                        divprop.innerHTML = `
                        <div class="card h-100 shadow-lg border-2">
                                    <img class="card-img-top" src="/media/${item['imagen']}" alt="${item['nombre']}"/>
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">${item['nombre']}</h5>
                                            <p>$ ${item['precio']}</p>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="d-flex justify-content-center">
                                            <a href="/mueble/${item['id']}/">
                                                <div class="boton-imagen1">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        `;
                        propiedad.appendChild(divprop)
                    })
                }
            })
        })
    </script>
{% endblock %}