{% extends 'Base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block CSS %}
    <style>
        .btn-regresar {
            cursor: pointer;
            text-decoration: none;
            color: #202328;
        }
    </style>
{% endblock %}
{% block contenido %}
    {% if show_modal %}
        <div id="myModal" class="modal">
            <img class="modal-content" src="{% static 'assets/promos/navidad.jpg' %}" alt="Imagen">
            <span class="d-flex justify-content-center text-white mt-3">Feliz Navidad</span>
            <div class="w-100 d-flex justify-content-center mt-3">
                <span class="close btn btn-secondary">Cerrar</span>
            </div>
        </div>
    {% endif %}
    {% include 'Promos.html' %}
    <!-- Section-->
    <section>
        <div class="container mt-5">
            <div class="row gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
                {% for item in categorias %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                        <div class="card h-100 shadow-lg border-3"
                             style="border-color: #202328; border-width: 2px; overflow: hidden;">
                            <!-- Product image-->
                            <div class="contenedor">
                                <img class="imagen" src="{{ item.imagen.url }}" alt="{{ item.nombre }}"/>
                            </div>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder fuente-card"
                                        style="font-family: 'Reem Kufi', sans-serif !important;">{{ item.nombre }}</h5>
                                    <!-- Product price-->
                                    {% if item.precio_maximo == None %}
                                        {% if item.precio_minimo == None %}
                                        {% else %}
                                            <p class="fuente-card" style="color: gray; font-family: 'Segoe UI',serif">
                                                $ {{ item.precio_minimo }}</p>
                                        {% endif %}
                                    {% else %}
                                        {% if item.precio_minimo == item.precio_maximo %}
                                            <p class="fuente-card" style="color: gray; font-family: 'Segoe UI',serif">
                                                $ {{ item.precio_minimo }}
                                            </p>
                                        {% else %}
                                            <p class="fuente-card" style="color: gray; font-family: 'Segoe UI',serif">
                                                $ {{ item.precio_minimo }}
                                                - $ {{ item.precio_maximo }}</p>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="d-flex justify-content-center">
                                    <a href="{% url 'Muebles:muebles' item.id %}">
                                        <div class="boton-imagen">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block JavaScript %}
    <script>
        window.onload = function () {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
        var owl = $('.promos');
        owl.owlCarousel({
            margin:5,
            loop: true,
            center: false,
            autoplay: true,
            smartSpeed: 300,
            slideSpeed: 100,
            responsive: {
                0: {
                    items: 3
                },

                550: {
                    items: 3
                },
                700: {
                    items: 4
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
{% endblock %}