{% extends 'Base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block CSS %}

{% endblock %}
{% block contenido %}
    {% include 'Promos.html' %}
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4">
                {% for item in muebles %}
                        {% if item.id|comprobar_promo %}
                            {% for promo in promociones %}
                                {% if item.id == promo.mueble.id %}
                                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                        <div class="card h-100 shadow-lg border-2">
                                            <img class="card-img-top" src="{{ item.imagen.url }}"
                                                 alt="{{ item.nombre }}"/>
                                            <div class="overlay text-white text-center">
                                                <p class="discount-badge">-{{ promo.descuento }}%</p>
                                            </div>
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder">{{ item.nombre }}</h5>
                                                    <p><span
                                                            class="text-decoration-line-through text-danger">$ {{ item.precio }}</span>
                                                        -
                                                        ${{ promo.calcular_precio }}</p>
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="d-flex justify-content-center">
                                                    <a href="{% url 'Muebles:mueble' item.id %}">
                                                        <div class="boton-imagen1">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="col-lg-3 col-md-2 col-sm-12 mb-3">
                                <div class="card h-100 shadow-lg border-2">
                                    <img class="card-img-top" src="{{ item.imagen.url }}" alt="{{ item.nombre }}"/>
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ item.nombre }}</h5>
                                            <p>$ {{ item.precio }}</p>
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="d-flex justify-content-center">
                                            <a href="{% url 'Muebles:mueble' item.id %}">
                                                <div class="boton-imagen1">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block JavaScript %}
    <script>
        window.onload = function () {
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 24,
            loop: true,
            center: true,
            autoplay: true,
            smartSpeed: 300,
            slideSpeed: 100,
            responsive: {
                0: {
                    items: 2
                },

                550: {
                    items: 2
                },
                700: {
                    items: 3
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
{% endblock %}