{% extends 'Base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block Meta %}
    <meta property="og:title" content="{{ mueble.nombre }}"/>
    <meta property="og:description" content="Categoria: {{ mueble.categoria.nombre }}"/>
    <meta property="og:url" content="https://losdesiguales.expresscuba.com/mueble/{{ mueble.id }}/"/>
    <meta property="og:image" content="https://losdesiguales.expresscuba.com{{ mueble.imagen.url }}"/>
{% endblock %}
{% block CSS %}

{% endblock %}
{% block contenido %}
    <!-- Section-->
    <section class="py-5" style="font-size: 20px; font-family: 'Acumi',serif">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row mb-3">
                <div class="col-lg-8 col-sm-12 col-md-8 border-degradado">
                    {% if mueble.id|comprobar_promo %}
                        {% for promo in promociones %}
                            {% if mueble.id == promo.mueble.id %}
                                <img class="img-fluid" style="height: 80%; width: 100%"
                                     src="{{ mueble.imagen.url }}" alt="mueble">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                <p>Precio: <span
                                        class="text-decoration-line-through text-danger" style="font-weight: bold;">$ {{ mueble.precio }} USD</span>
                                    -
                                    <span style="font-weight: bold;">$ {{ promo.calcular_precio }} USD</span></p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <img class="img-fluid" style="height: 80%; width: 100%"
                         src="{{ mueble.imagen.url }}" alt="mueble">
                    </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>Precio: <span style="font-weight: bold;">$ {{ mueble.precio }} USD</span></p>
                    {% endif %}
                    <p style="font-weight: bold;">{{ mueble.nombre }}</p>
                    <button id="gestionar" class="btn btn-dark" style="font-size: 20px;">GESTIONAR COMPRA</button>
                    </div>
            </div>
            <div class="row">
                <p style="font-weight: bold;">OFERTA:</p>
                <p style="font-size: 18px">
                    Si el acceso al domicilio es pequeño, podemos ensamblar el mueble dentro de su casa. Lo que supone
                    un porciento adicional al costo del artículo.
                </p>
                <p style="font-weight: bold;">CONTRATO:</p>
                <p style="font-size: 18px">
                    -El mueble es llevado hasta su casa, no accedemos a su interior. Usted es responsable de eso.
                </p>
                <p style="font-size: 18px">
                    -Damos garantía solo por la manufactura de nuestros muebles. La madera utilizada la avalamos por un
                    año (La tela, vinil y esponja no podemos estimar su durabilidad).
                </p>
                <p style="font-size: 18px">
                    -Los muebles que restauramos (No fabricados por nosotros) no llevan garantía.
                </p>
                <p style="font-size: 18px">
                    -Le ofrecemos 24 horas para realizar la devolución de su artículo en caso de inconformidad. en este
                    caso los gastos de transportación si deben ser pagados por el cliente.
                </p>
                <p style="font-size: 18px">
                    -El cliente tiene 72 horas para cancelar su contrato, en caso de que no vaya el trabajo pierde la
                    garantía.
                </p>
                <p style="font-size: 18px">
                    -Si el artículo no corresponde con lo pactado debe de contactar de inmediato por cualquier vía que
                    le sea más fácil, será usted siempre bien atendido.
                </p>
            </div>
        </div>
    </section>
    <div id="modal_gestionar" class="modal d-none">
        <div class="modal-content p-5 w-25" style="background-color: rgba(221,221,221)">
            <h3 class="text-center mb-3">Seleccione el metodo de gestión</h3>
            <button id="wasa" class="btn btn-dark w-100 mb-3">
                <img class="me-2" src="{% static 'assets/whatsapp.png' %}" style="height: 25px; width: 25px" alt="whatsapp">
                WhatsApp
            </button>
            <button id="email" class="btn btn-dark w-100">
                <img class="me-2" src="{% static 'assets/correo.png' %}" style="height: 25px; width: 25px" alt="whatsapp">
                Correo
            </button>

        </div>
        <div class="w-100 d-flex justify-content-center mt-3">
            <span id="close_gestionar" class="btn btn-secondary">Cerrar</span>
        </div>
    </div>
    <div id="modal_wasa" class="modal d-none">
        <div class="modal-content p-5 w-25" style="background-color: rgba(221,221,221)">
            <h3 class="text-center mb-3">Envíe un mensaje sobre el mueble y espere ser atendido</h3>
            <label for="mensaje">Mensaje</label><textarea class="form-text mb-3" id="mensaje">

            </textarea>
            <button id="wasa" class="btn btn-dark w-100 mb-3">
                <img class="me-2" src="{% static 'assets/whatsapp.png' %}" style="height: 25px; width: 25px" alt="whatsapp">
                WhatsApp
            </button>
        </div>
        <div class="w-100 d-flex justify-content-center mt-3">
            <span id="close_gestionar" class="btn btn-secondary">Cerrar</span>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
    <script>
        window.onload = function () {
            var modal = document.getElementById("modal_gestionar");
            var modal_wasa = document.getElementById("modal_wasa");
            var span = document.getElementById("close_gestionar");
            var gestionar = document.getElementById('gestionar');
            span.onclick = function () {
                modal.classList.add('d-none');
            }
            gestionar.onclick = function () {
                modal.classList.remove('d-none')
            }
            window.onclick = function (event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
            const wasa=document.getElementById('wasa')
            wasa.onclick=function (){
                modal.classList.add('d-none');
                modal_wasa.classList.remove('d-none');
            }
        }
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            margin: 24,
            loop: true,
            center: true,
            autoplay: true,
            smartSpeed: 300,
            slideSpeed: 100,
            responsive: {
                0: {
                    items: 2
                },

                550: {
                    items: 3
                },
                700: {
                    items: 4
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
    </script>
{% endblock %}