{% extends 'Base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block Meta %}
    <meta property="og:title" content="{{ mueble.nombre }}"/>
    <meta property="og:description" content="Categoria: {{ mueble.categoria.nombre }}"/>
    <meta property="og:url" content="https://losdesiguales.expresscuba.com/mueble/{{ mueble.id }}/"/>
    <meta property="og:image" content="https://losdesiguales.expresscuba.com{{ mueble.imagen.url }}"/>
{% endblock %}
{% block CSS %}
    <style>
        .galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .visor-imagen {
            margin-bottom: 20px;
            width: 80%;
            height: 400px;
            overflow: hidden;
            position: relative;
        }

        .miniaturas {
            display: flex;
            overflow: hidden;
        }

        .miniaturas img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 10px;
            cursor: pointer;
            border-radius: 50px;
        }

        .imagen {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
 @media (max-width: 450px) {
     .miniaturas img {
            width: 60px;
            height: 60px;
        }
     .visor-imagen {
            width: 100%;
            height: 180px;
        }
     .imagen {
            width: 100%;
            height: 100%;
        }
 }

    </style>
{% endblock %}
{% block contenido %}
    <div class="d-flex justify-content-center align-items-center mt-3">
        <form action="{{ request.META.HTTP_REFERER }}" method="get">
            <button class="btn btn-dark" type="submit">Atrás</button>
        </form>
    </div>
    <!-- Section-->
    <section style="font-size: 20px; font-family: 'Acumi',serif">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row mb-2">
                <div class="col-lg-8 col-sm-12 col-md-8 border-degradado">
                    {% if mueble.id|comprobar_promo %}
                        {% for promo in promociones %}
                            {% if mueble.id == promo.mueble.id %}
                                <div class="galeria mb-3">
                                    <div class="visor-imagen">
                                        {% if mueble.imagen_extra %}
                                            <img class="imagen" src="{{ mueble.imagen_extra.url }}"
                                                 id="imagenSeleccionada">
                                        {% else %}
                                            <img class="imagen" src="{% static 'noImagen.PNG' %}"
                                                 id="imagenSeleccionada">
                                        {% endif %}
                                    </div>
                                    <div class="miniaturas">
                                        {% if mueble.imagen_extra %}
                                            <img src="{{ mueble.imagen_extra.url }}"
                                                 onclick="mostrarImagen('{{ mueble.imagen_extra.url }}')">
                                        {% endif %}
                                        {% if mueble.imagen_extra1 %}
                                            <img src="{{ mueble.imagen_extra1.url }}"
                                                 onclick="mostrarImagen('{{ mueble.imagen_extra1.url }}')">
                                        {% endif %}
                                        {% if mueble.imagen_extra2 %}
                                            <img src="{{ mueble.imagen_extra2.url }}"
                                                 onclick="mostrarImagen('{{ mueble.imagen_extra2.url }}')">
                                        {% endif %}
                                        {% if mueble.imagen_extra3 %}
                                            <img src="{{ mueble.imagen_extra3.url }}"
                                                 onclick="mostrarImagen('{{ mueble.imagen_extra3.url }}')">
                                        {% endif %}
                                        <!-- Agrega más miniaturas según sea necesario -->
                                    </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                <p>Precio: <span
                                        class="text-decoration-line-through text-danger"
                                        style="font-weight: bold;">$ {{ mueble.precio }} USD</span>
                                    -
                                    <span style="font-weight: bold;">$ {{ promo.calcular_precio }} USD</span></p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <div class="galeria mb-3">
                        <div class="visor-imagen">
                            {% if mueble.imagen_extra %}
                                <img class="imagen" src="{{ mueble.imagen_extra.url }}"
                                     id="imagenSeleccionada">
                            {% else %}
                                <img class="imagen" src="{% static 'noImagen.PNG' %}"
                                     id="imagenSeleccionada">
                            {% endif %}
                        </div>
                        <div class="miniaturas">
                            {% if mueble.imagen_extra %}
                                <img src="{{ mueble.imagen_extra.url }}"
                                     onclick="mostrarImagen('{{ mueble.imagen_extra.url }}')">
                            {% endif %}
                            {% if mueble.imagen_extra1 %}
                                <img src="{{ mueble.imagen_extra1.url }}"
                                     onclick="mostrarImagen('{{ mueble.imagen_extra1.url }}')">
                            {% endif %}
                            {% if mueble.imagen_extra2 %}
                                <img src="{{ mueble.imagen_extra2.url }}"
                                     onclick="mostrarImagen('{{ mueble.imagen_extra2.url }}')">
                            {% endif %}
                            {% if mueble.imagen_extra3 %}
                                <img src="{{ mueble.imagen_extra3.url }}"
                                     onclick="mostrarImagen('{{ mueble.imagen_extra3.url }}')">
                            {% endif %}
                            <!-- Agrega más miniaturas según sea necesario -->
                        </div>
                    </div>
                    </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                        <p>Precio: <span style="font-weight: bold;">$ {{ mueble.precio }} USD</span></p>
                    {% endif %}
                    <p style="font-weight: bold;">{{ mueble.nombre }}</p>
                    <button onclick="Abrir_Wasa()" class="btn btn-dark" style="font-size: 20px;">GESTIONAR COMPRA
                    </button>
                    </div>
            </div>
            <div class="row">
                <p class="mb-3">{{ mueble.descripcion }}</p>
                <p style="font-weight: bold;">OFERTA:</p>
                <p style="font-size: 18px">
                    Si el acceso al domicilio es pequeño, podemos ensamblar el mueble dentro de su casa. Lo que supone
                    un porciento adicional al costo del artículo.
                </p>
                <p style="font-weight: bold;">CONTRATO:</p>
                <p style="font-size: 18px">
                    -El mueble es llevado hasta su casa, no accedemos a su interior. Usted es responsable de eso.
                </p>
                <p style="font-size: 18px">
                    -Damos garantía solo por la manufactura de nuestros muebles. La madera utilizada la avalamos por un
                    año (La tela, vinil y esponja no podemos estimar su durabilidad).
                </p>
                <p style="font-size: 18px">
                    -Los muebles que restauramos (No fabricados por nosotros) no llevan garantía.
                </p>
                <p style="font-size: 18px">
                    -Le ofrecemos 24 horas para realizar la devolución de su artículo en caso de inconformidad. en este
                    caso los gastos de transportación si deben ser pagados por el cliente.
                </p>
                <p style="font-size: 18px">
                    -El cliente tiene 72 horas para cancelar su contrato, en caso de que no vaya el trabajo pierde la
                    garantía.
                </p>
                <p style="font-size: 18px">
                    -Si el artículo no corresponde con lo pactado debe de contactar de inmediato por cualquier vía que
                    le sea más fácil, será usted siempre bien atendido.
                </p>
            </div>
        </div>
    </section>
    <div id="modal_wasa" class="modal">
        <div class="modal-content p-2" style="background-color: rgba(221,221,221)">
            <h3 class="text-center mb-3">Envíe un mensaje sobre el mueble y espere ser atendido</h3>
            <label class="form-label mb-1">Mensaje</label
            ><textarea class="form-control mb-3" id="mensaje_wasa">
            </textarea>
            <button onclick="Enviar_wasa()" class="btn btn-dark w-100 mb-3">
                Enviar
            </button>
        </div>
        <div class="w-100 d-flex justify-content-center mt-3">
            <button onclick="Cerrar_Wasa()" class="btn btn-secondary">Cerrar</button>
        </div>
    </div>
{% endblock %}
{% block JavaScript %}
    <script>
        function Abrir_Wasa() {
            const modal_wasa = document.getElementById('modal_wasa')
            modal_wasa.style.display = 'block'
        }

        function Cerrar_Wasa() {
            const modal = document.getElementById('modal_wasa')
            modal.style.display = 'none'
        }

        function Enviar_wasa() {
            var numero = '5352398749';
            var link = 'https://losdesiguales.expresscuba.com/mueble/{{ mueble.id }}/';
            var texto = document.getElementById('mensaje_wasa').value;
            var mensaje = encodeURIComponent(`${texto} ${link}`);
            var whatsappURL = `https://wa.me/${numero}?text=${mensaje}`;
            window.open(whatsappURL, '_blank');
        }

        function mostrarImagen(src) {
            document.getElementById('imagenSeleccionada').src = src;

        }


        var owl = $('.promos');
        owl.owlCarousel({
            margin: 5,
            loop: true,
            center: false,
            autoplay: true,
            smartSpeed: 300,
            slideSpeed: 100,
            responsive: {
                0: {
                    items: 3
                },

                550: {
                    items: 3
                },
                700: {
                    items: 4
                },
                1000: {
                    items: 6
                }
            }
        })
    </script>
{% endblock %}