<style>
    .link_promo:hover{
        filter: brightness(80%);
    }
</style>
<h3 class="mt-3 text-center">Ofertas y rebajas</h3>
<div class="owl-carousel promos owl-theme mt-3">
    {% for item in promociones %}
        <a href="{% url 'Muebles:mueble' item.mueble.id %}" class="link_promo">
            <div class="item">
                <div class="slider">
                    <img src="{{ item.mueble.imagen_portada.url }}" class="slider imagen-promo">
                    <div class="overlay text-white text-center">
                        <p class="discount-badge">-{{ item.descuento }}%</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>